%p.in-gold-500.font-18.mb-25= t('settings.password')
= form_for(@user, url: { action: "update_password" }, html: { class: 'general-form-md divider-lg-bottom pb-25'}) do |f|
  .form-group.mb-30
    = f.label :current_password, t('settings.old_password'), class: "control-label input-label"
    = f.password_field :current_password, class: "form-control", autocomplete: "off", placeholder: t('settings.old_password')
  .form-group.mb-30
    = f.label :password, t('settings.new_password'), class: "control-label input-label"
    = f.password_field :password, class: "form-control", autofocus: true, autocomplete: "off", t('settings.new_password')
  .form-group.mb-40
    = f.label :password_confirmation, t('settings.confirm_password'), class: "control-label input-label"
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t('settings.confirm_password')
  .general-text-align
    = f.submit t('settings.save'), class: 'btn btn-default mb-10'
