= f.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden' }
= f.input :order_id, label: false, input_html: { value: current_order.id, type: 'hidden' }
= f.input :first_name, required: false, prompt: t('settings.first_name')
= f.input :last_name, required: false, prompt: t('settings.last_name')
= f.input :address, required: false, prompt: t('settings.address')
= f.input :city, required: false, prompt: t('settings.city')
= f.input :zip, required: false, prompt: t('settings.zip')
= f.input :country, required: false, prompt: t('settings.country_select')
= f.input :phone, required: false, placeholder: 'Example +30991234567'
